<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="error" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- Note: %F=file and %L=line are expensive to produce, since Log4J has to create
           an exception and then a stack trace to find the originating file and line.
           We should either remove this info or change to something less expensive such
           as "%c{1}" before Module 1 release. -->
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] %m (%F:%L)%n" />
    </layout>
  </appender>

  
  <appender name="performance" class="org.apache.log4j.ConsoleAppender">
  	<param name="Threshold" value="all" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- Note: %F=file and %L=line are expensive to produce, since Log4J has to create
           an exception and then a stack trace to find the originating file and line.
           We should either remove this info or change to something less expensive such
           as "%c{1}" before Module 1 release. -->
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%c] %m %n" />
    </layout>
  </appender>

  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="Threshold" value="info" />
    <param name="File" value="logs/mct.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- Note: %F=file and %L=line are expensive to produce, since Log4J has to create
           an exception and then a stack trace to find the originating file and line.
           We should either remove this info or change to something less expensive such
           as "%c{1}" before Module 1 release. -->
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] %m (%F:%L)%n" />
    </layout>
  </appender>

  <!-- Feed event logger. Both debug and info are available. Warn and above will disable.  -->
  <logger name="feed.events"> 
  	<level value="error" />
  	<appender-ref ref="performance" />
  </logger>

<!-- hibernate logging
     http://www.laliluna.de/first-hibernate-example-tutorial.html -->

<!-- set log levels - for more verbose logging change 'info' to 'debug' -->

  <logger name="org.hibernate">
    <level value="fatal" />
  </logger>

  <!-- log HQL query parser activity -->
  <logger name="org.hibernate.hql.ast.AST">
<!--    <level value="debug" /> -->
  </logger>

  <!-- log just the SQL -->
  <logger name="org.hibernate.SQL">
    <level value="debug" />
  </logger>

  <!-- log JDBC bind parameters ### -->
  <logger name="org.hibernate.type">
    <level value="info" />
  </logger>

  <!-- log schema export/update ### -->
  <logger name="org.hibernate.tool.hbm2ddl">
    <level value="info" />
  </logger>

  <!-- log HQL parse trees -->
  <logger name="org.hibernate.hql">
<!--    <level value="debug" /> -->
  </logger>

  <!-- log cache activity ### -->
  <logger name="org.hibernate.cache">
    <level value="info" />
  </logger>
  
  <!-- performance data, there are also subgroups for performance (startup, feeds, menus, policies, node, buffer, and objectsharing). So
  	   gov.nasa.arc.mct.performance.startup will provide some logging messages specific to startup. 
   -->
  <logger name="gov.nasa.arc.mct.performance">
  	<level value="error" /> <!-- change value to info to get full performance logging messages -->
  	<appender-ref ref="performance" />
  </logger>
  
  <!--
  <logger name="gov.nasa.arc.mct.performance.feeds.pool" additivity="false">
  	<level value="debug" /> 
  	<appender-ref ref="performance" />
  </logger>
  -->
  
  <!-- 
   <logger name="gov.nasa.arc.mct.performance.buffer.read" additivity="false">
  	<level value="debug" /> 
  	<appender-ref ref="performance" />
  </logger>
  -->
  
  <!-- log transaction activity -->
  <logger name="org.hibernate.transaction">
<!--    <level value="debug" /> -->
  </logger>

  <!-- log JDBC resource acquisition -->
  <logger name="org.hibernate.jdbc">
<!--    <level value="debug" /> -->
  </logger>

  <!-- enable the following line if you want to track down connection
       leakages when using DriverManagerConnectionProvider -->
  <logger
   name="org.hibernate.connection.DriverManagerConnectionProvider">
<!--    <level value="trace" /> -->
  </logger>

   <logger name="gov.nasa.arc.mct.gui.menus">
  	<level value="info" /> 
  	<appender-ref ref="performance" />
   </logger>


  <!-- We specify the root logger level as "all" so that we can control
       in the appenders which messages go where. -->
  <root>
    <level value ="info" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  
</log4j:configuration>
